{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
 {% block style %}
    <style>
        .gm-style .place-card{
            display:none;
        }
        #button {
        display: inline-block;
        background-color: rgb(28, 228, 213);
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, 
            opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        }
        #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 1.50em;
        line-height: 50px;
        color: #fff;
        }
        #button:hover {
        cursor: pointer;
        background-color: #333;
        }
        #button:active {
        background-color: #555;
        }
        #button.show {
        opacity: 1;
        visibility: visible;
        }

        /* Styles for the content section */

        .content {
        width: 77%;
        margin: 50px auto;
        font-family: 'Merriweather', serif;
        font-size: 17px;
        color: #6c767a;
        line-height: 1.9;
        }
        @media (min-width: 500px) {
        .content {
            width: 43%;
        }
        #button {
            margin: 30px;
        }
        }
        .content h1 {
        margin-bottom: -10px;
        color: #03a9f4;
        line-height: 1.5;
        }
        .content h3 {
        font-style: italic;
        color: #96a2a7;
        }

        .nav-hover{
            color:rgb(28, 228, 213) !important;
            border-bottom:solid !important;
        }
    </style>
 {% endblock %}
{% block body %}  
	<main>		 
        <!-- Preloader -->
        <div class="preloader-wrap">
            <div class="outer">
                <div class="inner">
                    <div class="percentage" id="precent"></div>
                    <div class="trackbar">
                        <div class="loadbar"></div>
                    </div> 
                </div>
            </div>
        </div>
        <!--/Preloader -->    
        <div class="cd-index cd-main-content">
        <!-- Page Content -->
            <div id="page-content" class=" "> 
                {% include 'layouts/navbar.html.twig' %}
                <!-- Content Scroll -->
                <div id="content-scroll"> 
                    <div id="main"> 
                        <div id="main-content"  class="light-content"> 
                            <div id="accueil" class=" " style="position: relative;height: 100vh;width: 100vw;overflow: hidden;z-index:-10 ">
                                <img src="{{asset('images/img-header/bg.png')}}" data-speedx="0.1" data-speedy="0.2"  data-speedz="0" data-rotation="1" data-distance="" class="parallax bg-img"> 
                                <img src="{{asset('images/img-header/bg1.png')}}" data-speedx="0.13" data-speedy="0.21"  data-speedz="0" data-rotation="1" data-distance="" class="parallax bg1-img"> 
                                <img src="{{asset('images/img-header/3.png')}}" data-speedx="0.14" data-speedy="0.22"   data-speedz="0" data-rotation="1" data-distance="" class="parallax img-3">
                                <img src="{{asset('images/img-header/4.png')}}" data-speedx="0.15" data-speedy="0.23" data-speedz="0" data-rotation="1" data-distance="" class="parallax img-3">
                                <img src="{{asset('images/img-header/5.png')}}" data-speedx="0.16" data-speedy="0.24" data-speedz="0" data-rotation="1" data-distance="" class="parallax img-3">
                                <div class="text parallax" data-speedx="0.13" data-speedy="0.21" data-rotation="1"  data-speedz="0" >
                                    <h1 style="color:white !important;font-family:GraphikLight" class="animate__animated animate__backInDown animate__delay-2s">{% trans %}Parc National{% endtrans %}</h1>
                                    <h2 style="color:white !important" class="animate__animated animate__bounceInUp animate__delay-3s">{% trans %}Isalo{% endtrans %}</h2>
                                </div> 
                            </div>
                            <div id="main-page-content"> 
                                <div class="vc_row row_padding_top small text-align-center"> 
                                    <hr>  

                                    <h2 class="has-mask animate__zoomIn">Love the trees until their leaves fall off and encourage them to try again next year.</h2> 
                                </div> 
                                <div class="vc_row row_padding_top row_padding_bottom"> 
                                    <figure class="has-animation has-parallax">
                                        <img src="images/projects/dp06.jpg" alt="Image Title">               
                                        <figcaption>Image Caption</figcaption>
                                    </figure> 
                                </div> 
                                <div id="decouvrir" class="vc_row row_padding_top row_padding_bottom"> 
                                    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">
                                        <div class="row rounded-lg"> 
                                            <div class="col-sm-12 order-sm-2">
                                                <div class="card-body" style=" position: relative;top: -15px;">
                                                    <h4 class="card-title text-center has-mask">{% trans %}Population {% endtrans %}</h4>
                                                    <p class="text-center has-animation has-scale" style="font-size:16px">{% trans %}Les Bara constituent l’ethnie dominante de la population environnante au Parc national d’Isalo. Leurs activités principales sont l’élevage, de zébu surtout, et l’agriculture.{% endtrans %}</p>
                                                </div> 
                                            </div> 
                                            <img src="https://img.freepik.com/vecteurs-libre/foule-diversifiee-personnes-ages-races-differents_74855-5235.jpg?w=826" class="hide-ball card-img-top col-sm-12 order-sm-1" alt="..."> 
                                        </div>  
                                        <div class="row rounded-lg"> 
                                            <div class="col-sm-12 order-sm-2">
                                                <div class="card-body">
                                                    <h4 class="card-title text-center has-mask">{% trans %}Climat{% endtrans %}</h4>
                                                    <p class="text-center has-animation has-scale" data-delay="100" style="font-size:16px">{% trans %}Le Climat est du type tropical sec , avec une précipitation de 800 à 1000 mm de pluie se répartissant de décembre à mars de chaque année et des températures moyennes mensuelles de 17° C en juin et de 25° C en février.{% endtrans %}</p>
                                                </div>
                                            </div> 
                                            <img src="https://img.freepik.com/vecteurs-premium/illustration-concept-changement-climatique-degrade_23-2149084518.jpg" style="" class="hide-ball card-img-top col-sm-12 order-sm-1" alt="..."> 
                                        </div>   
                                        <div class="row rounded-lg"> 
                                            <div class="col-sm-12 order-sm-2">
                                                <div class="card-body">
                                                    <h4 class="card-title text-center has-mask" >{% trans %}Altitude{% endtrans %}</h4>
                                                    <p class="text-center  has-animation has-scale" data-delay="200" style="font-size:16px">{% trans %}L'altitude varie de 514 m à 1268 m et la profondeur des canyons peut atteindre 200 m de profondeur.{% endtrans %}</p>
                                                </div>
                                            </div> 
                                                <img src="{{asset('images/canyon.png')}}" class="hide-ball card-img-top col-sm-12 order-sm-1" alt="..."> 
                                        </div>    
                                    </div>  
                                </div> 
                                <div id="scrollToBottom" class="vc_row row_padding_top   text-align-center">
                                    <h2 class="pb-2 has-mask">{% trans %}Localisation{% endtrans %}</h2>
                                    <div class="row">
                                        {% include "home/localisation.html.twig" %} 
                                    </div>
                                </div> 
                                <div id="specificite" class="vc_row row_padding_top small text-align-center">
                                    <h2 class="pb-2 has-mask">{% trans %}Spécificités{% endtrans %}</h2> 
                                    <h6 class="has-mask fs-5 fw-lighter" style="font-family:GraphikRegular;font-size:14px !"  data-delay="10">{% trans %}Le parc National Terrestre Isalo est une représentation écologique unique au sein du réseau Parcs Nationaux Madagascar : un massif ruiniforme de grès continental datant du jurassique avec sa géomorphologie typique et sa végétation rupicole endémique (Aloès, Euphorbes, Pachypodes, Kalanchoe …) et la faune spécifique de cet habitat exceptionnel (reptiles de rochers dont la grande majorité sont endémiques).{% endtrans %}</h6>  
                                </div> 
                                <br>

                                <div id="showcase-holder">
                                    <div id="large-showcase-carousel" class="swiper-container">
                                        <div class="swiper-wrapper">  
                                            <!-- Section Slide -->
                                            <div class="swiper-slide">
                                                <div class="img-mask">
                                                    <div class="section-wrap-image">
                                                        <div class="section-image" data-src="{{asset('images/paysage.jpg')}}"></div>
                                                    </div>
                                                </div>
                                                <a class="showcase-link-project" data-type="page-transition" href="{{path('app_paysage')}}"></a>
                                                <div class="slide-caption">
                                                    <h2 class="slide-title text-white">{% trans %}Paysage{% endtrans %}</h2>
                                                    <h4 class="slide-cat"><span data-hover="View Case" class="text-white">{% trans %}Voir{% endtrans %}</span></h4>
                                                </div>
                                            </div> 
                                            <div class="swiper-slide">
                                                <div class="img-mask">
                                                    <div class="section-wrap-image">
                                                        <div class="section-image" data-src="{{asset('images/faune.jpg')}}"></div>
                                                    </div>
                                                </div>
                                                <a class="showcase-link-project" data-type="page-transition" href="{{path('app_faune')}}"></a>
                                                <div class="slide-caption">
                                                    <h2 class="slide-title text-white">{% trans %}Faune{% endtrans %}</h2>
                                                    <h4 class="slide-cat"><span data-hover="View Case" class="text-white">{% trans %}Voir{% endtrans %}</span></h4>
                                                </div>
                                            </div> 
                                            <div class="swiper-slide bg-video">
                                                <div class="img-mask">
                                                    <div class="section-wrap-image">
                                                        <div class="section-image" data-src="{{asset('images/flore.jpg')}}">    
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="showcase-link-project" data-type="page-transition" href="{{path('app_flore')}}"></a>
                                                <div class="slide-caption">
                                                    <h2 class="slide-title text-white">{% trans %}Flore{% endtrans %}</h2>
                                                    <h4 class="slide-cat"><span data-hover="View Case" class="text-white">{% trans %}Voir{% endtrans %}</span></h4>
                                                </div>
                                            </div>
                                            <!--/Section Slide -->
                                        </div>
                                    </div>
                                </div> 
                                <br>
                                <br>
                                <br> 
                                <div class="fixed has-animation">        	
                                    <div id="footer-container"> 
                                        <div class="swiper-scrollbar"></div> 
                                    </div>
                                </div> 
                                </div> 


                                <div class="vc_row mx-1 row_padding_top container py-3 text-align-center">
                                    <div class="row flex-lg-row-reverse my-5">
                                        <div class="col-md-6  d-flex align-items-center">
                                            <div class="card" style="border:none !important">
                                                <h2 class="pb-2 has-mask">{% trans %}Droits d'entrée dans le parc{% endtrans %} </h2>
                                                <div class="row text-center mb-5" style="height:100%;">
                                            
                                                    <div class="col-md-3 d-flex flex-column p-3 bg-white shadow-sm justify-content-center" style="border-radius:15px">
                                                        <h5 class="m-0">
                                                            500 AR
                                                        </h5>
                                                        <p class="text-secondary m-0">{% trans %}Enfants Malagasy{% endtrans %}</p>
                                                    </div> 
                                                    <div class="col-md-3 d-flex flex-column p-3 bg-white shadow-sm justify-content-center" style="border-radius:15px">
                                                        <h5 class="m-0">
                                                            2.000 AR
                                                        </h5>
                                                        <p class="text-secondary m-0">{% trans %}Adultes Malagasy{% endtrans %}</p>
                                                    </div> 
                                                    <div class="col-md-3 d-flex flex-column p-3 bg-white shadow-sm justify-content-center" style="border-radius:15px">
                                                        <h5 class="m-0">
                                                            25.000 AR
                                                        </h5>
                                                        <p class="text-secondary m-0">{% trans %}Enfants Etrangers{% endtrans %}</p>
                                                    </div> 
                                                    <div class="col-md-3 d-flex flex-column p-3 bg-white shadow-sm justify-content-center" style="border-radius:15px">
                                                        <h5 class="m-0">
                                                            65.000 AR
                                                        </h5>
                                                        <p class="text-secondary m-0">{% trans %}Adultes Etrangers{% endtrans %}</p>
                                                    </div>
                                                </div>
                                                <p class="card-text fs-5">{% trans %}Les tickets d'entrées sont {% endtrans %}<i><b class="mx-1" style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">{% trans %} disponibles {% endtrans %}</b></i>{% trans %} auprès des guichets d'accueil de chaque Parc National, soit dans l’enceinte du kiosque de l’Office Régional du Tourisme Analamanga à Antaninarenina auprès du point de vente.{% endtrans %}<i><b style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);"> {% trans %}ouvert {% endtrans %}</b> </i>{% trans %}  du lundi au vendredi, de 09h à 17h et le samedi, de 09h à 12h00.{% endtrans %}</p>  
                                                <p class="card-text fs-5" style="font-family: 'GraphikLight';line-height: 1.5;"> <span style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">{% trans %}Droit de guidage non-inclus{% endtrans %}</span><br>{% trans %}Toutes les visites doivent être obligatoirement accompagnées par un guide local.{% endtrans %}</p> 
                                            </div>
                                        </div>
                                        <div class="col-md-6 hide-ball" style="transform: rotate(40deg) ;" >
                                            <img class="img-fluid w-lg-50 animate__animated animate__pulse animate__infinite" src="{{asset('images/ticket.webp')}}">
                                        </div>
                                    </div>
                                </div>  
                                <div id="hebergement" class="vc_row row_padding_top small text-align-center" style="max-width:940px">
                                    <div class="row">
                                        <div class="col-md-6  d-flex align-items-center">
                                            <div class=" " style="border:none !important">
                                                <h2 class="pb-2 has-mask">{% trans %}Hébergement à Ranohira{% endtrans %}</h2>
                                                <p class="card-text fs-5">{% trans %}Offrant un mélange parfait de confort, d'aventure et de tranquillité, {% endtrans %}<i><b class="mx-1" style="background-image: linear-gradient(rgb(221, 252, 250) calc(100% - 10px), rgb(221, 252, 250) 10px);">l'Isalo Rock Lodge</b></i>{% trans %} est le point de départ idéal pour explorer toutes les merveilles du parc national.{% endtrans %}</p> 
                                                <p class="card-text fs-5">{% trans %}Vivez une aventure authentique au cœur du parc national avec un séjour à l'Isalo Rock Lodge, où le charme de l'architecture locale rencontre le raffinement moderne.{% endtrans %}</p> 
                                                <div>
                                                </div>

                                                <div class="d-flex justify-content-center">
                                                    <div class="button-box w-25 has-animation" data-delay="100">             
                                                        <div class="clapat-button-wrap parallax-wrap hide-ball">
                                                            <div class="clapat-button parallax-element"> 
                                                                <a href="{{path('app_hebergement')}}">
                                                                    <button class="btn text-white px-5 py-3" style="font-size:1.25rem;background-color: rgb(28, 228, 213);font-family:GraphikBold;border-radius:10px;width:380px">{% trans %}Reservez dès maintenant{% endtrans %}</button>
                                                                </a>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-md-6 hide-ball">
                                            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/hotel-3485078-2914596.png?f=webp">
                                        </div>
                                    </div>
                                </div> 
                                <div id="contact" class="vc_row small row_padding_top text-align-center">
                                    
                                    <h2 class="has-mask  affiche" data-delay="10">{% trans %}Contactez nous{% endtrans %}</h2>
                                        
                                    <!-- Contact Formular -->
                                    <div id="contact-formular">
                                    
                                        <div id="message"></div>
                                    
                                        <form method="post" action="{{path('app_home')}}" >                             
                                            <div class="name-box has-animation" data-delay="100">        
                                                <input required name="name" type="text" id="name" size="30" value="" placeholder="{% trans %}Votre nom{% endtrans %}"><label class="input_label"></label>
                                            </div>                                                        
                                            <div class="email-box has-animation" data-delay="150">
                                                <input required name="email" type="email" id="email" size="30" value="" placeholder="{% trans %}Votre email{% endtrans %}"><label class="input_label"></label>
                                            </div>                            
                                            <div class="message-box has-animation" data-delay="100">
                                                <textarea required name="comments" cols="40" rows="4" id="comments" placeholder="{% trans %}Votre message{% endtrans %}" ></textarea><label class="input_label slow"></label>
                                            </div>                             
                                            <div class="button-box has-animation" data-delay="100">             

                                                <div class="d-flex justify-content-center">
                                                    <div class="button-box w-25 has-animation" data-delay="100">             
                                                        <div class="clapat-button-wrap parallax-wrap hide-ball">
                                                            <div class="clapat-button parallax-element">  
                                                                    <button type="submit" class="btn text-white px-3 py-1" style="background-color: rgb(28, 228, 213);font-family:GraphikBold;border-radius:10px;">{% trans %}Envoyer{% endtrans %}</button>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div> 
                                            </div>
                                        </form>                        
                                                 <script>
                                                    document.addEventListener("DOMContentLoaded", function() {
                                                        var form = document.querySelector('form');
                                                        form.addEventListener('submit', function(event) {
                                                            event.preventDefault(); // Empêche l'envoi du formulaire
                                                            var messageDiv = document.getElementById('message');
                                                            messageDiv.innerText = "Votre message a été envoyé avec succès!";
                                                            messageDiv.style.display = 'block';
                                                              setTimeout(function() {
                                                            window.location.reload();
                                                        }, 3000);
                                                        });
                                                    });
                                                </script>
               
                                    </div>
                                    <!--/Contact Formular -->
                                    
                                </div>   
                                <div id="message" style="display: none;"></div>

                                <div class="vc_row text-align-center row_padding_top small">
                                            
                                    <div class="one_third has-animation"  data-delay="100">
                                        <div class="clapat-icon">
                                            <img class="img-fluid w-25" src="{{asset('images/svg/email-8-svgrepo-com.svg')}}">
                                        </div>
                                    
                                        <h6><a class="text-dark" href="mailto:cvecotisalo@outlook.com">cvecotisalo@outlook.com </a></h6>
                                        <p>{% trans %}Email{% endtrans %}</p>                        
                                    </div>
                                    
                                    <div class="one_third has-animation"  data-delay="200">
                                        <div class="clapat-icon">
                                            <img class="img-fluid w-25" src="{{asset('images/svg/location-svgrepo-com.svg')}}">
                                        </div>
                                    
                                        <h6 class="text-dark">BP. 6 Ranohira – 313 Ihosy</h6>
                                        <p>{% trans %}Addresse{% endtrans %}</p>                        
                                    </div>
                                    
                                    <div class=" one_third last has-animation"  data-delay="300">
                                        <div class="clapat-icon">
                                            <img class="img-fluid w-25" src="{{asset('images/svg/phone-number-svgrepo-com.svg')}}">
                                        </div>
                                    
                                        <h6><a class="text-dark" href="tel:+261320940236">+261 32 09 402 36</a></h6>
                                        <p>{% trans %}Phone{% endtrans %}</p>
                                    </div>
                                     
                                    
                                </div>    
                                {% include 'layouts/footer.html.twig' %}   
                            </div> 
                            
                        </div>  
                    </div>  
                </div>  

                <div class="thumb-container">
                    <div class="thumb-page" data-src="{{asset('images/paysage.jpg')}}"></div>
                    <div class="thumb-page" data-src="{{asset('images/faune.jpg')}}"></div>
                    <div class="thumb-page" data-src="{{asset('images/flore.jpg')}}"></div> 
                </div>
            </div>     
		</div>
	</main>
    <div class="cd-cover-layer"></div>
    <div id="magic-cursor">
        <div id="ball">
            <div id="hold-event"></div>
            <div id="ball-loader"></div>
        </div>
    </div> 
    <div id="clone-image"></div>
    <div id="rotate-device"></div>
    <a id="button" class="d-flex align-items-center justify-content-center"></a>
    <script>
    document.getElementById('button').addEventListener('click', function() {
    });
    </script>
{% endblock %} 