
<header class="classic-menu"  style="height:60px">
    <div id="header-container" class="px-lg-0 py-lg-0"> 
        <div id="logo" class="hide-ball" style="top:20px">
            <a class="ajax-link mx-3" data-type="page-transition" style="font-family:GraphikLightItalic;color:black" href="{{path('app_home')}}">
                Isalo    
            </a> 
        </div> 
        <div class="socials-wrap mx-3 mt-1 d-none d-xl-flex" style="display:flex;flex-direction:row-reverse;height: 50px;width: 50px;overflow: hidden;">  
            <div class="d-flex align-items-center">              	
                <div class=" "><i class="fa fa-share-alt" aria-hidden="true"></i></div> 
                <a class="parallax-element" href=" " target="_blank"><img class="" width="20px" src="{{asset('images/lang/'~app.request.locale~'.png')}}"></a> 
            </div>  
            <ol class="socials pt-3" style="position:absolute;top:15px;height: auto;line-height: 30px;position: relative;width: auto;text-align: center;bottom: 0;display: table;transform: translateX(15px);-webkit-transform: translateX(15px);">
                <div class="bg-white">

                {% for locale in locales %}
                    {% if locale != app.request.locale %} 
                        <li><span class="parallax-wrap "><a class="parallax-element" href="{{path('change_locale',{'locale': locale})}}"><img class="img-fluid w-50" src="{{asset('images/lang/'~locale~'.png')}}"></a></span></li> 
                    {% endif %}  
                {% endfor %}
 
                </div>
            </ol>                
        </div>
        <nav class="m-0 d-flex bg-white" style="background-color:white !important"> 
            <div class="nav-height w-100">
                <div class="outer w-100">
                    <div class="inner w-100">           
                        <ul data-breakpoint="1025" class="flexnav d-lg-flex d-block justify-content-around w-100">
                            <li class="link menu-timeline p-0"><a href="#"><span data-hover="Spécificités">Spécificités</span></a>
                                <ul class="p-2 pt-4 shadow-sm">
                                    <li><a class="ajax-link " href="{{path('app_paysage')}}" data-type="page-transition">Paysage</a></li>
                                    <li><a class="ajax-link" href="{{path('app_faune')}}" data-type="page-transition">Faune</a></li>
                                    <li><a class="ajax-link" href="{{path('app_flore')}}" data-type="page-transition">Flore</a></li> 
                                </ul>
                            </li>                           
                            <li class="link menu-timeline p-0"><a class="ajax-link" data-type="page-transition" href="about.html"><span data-hover="About">About</span></a></li>                        
                            <li class="link menu-timeline p-0"><a id="contact-nav"  href="#contact"><span data-hover="Contact">Contact</span></a></li>     
                        </ul>      
                    </div>
                </div> 
            </div>     
                {# <button id="scrollToBottom">Défiler jusqu'au bas</button> #}
 
        </nav>  
        <div id="burger-wrapper" class="parallax-wrap">
            <div id="menu-burger" class="parallax-element">
                <span class="bg-dark"></span>
                <span class="bg-dark"></span>
            </div>
        </div> 

    </div>
</header>

    <script src="{{asset('assets/js/jquery.min.js')}}"></script> 
    <script>
        $(document).ready(function(){      
            var btn = $('#button');
            var contentDiv = document.getElementById('content-scroll');

            $(document).on("mousemove", function() { 
                var styles = $(".scroll-content").css("transform");
                var translateY = parseFloat(styles.split(",")[5]);

                if(translateY <= -120)
                {  
                    $('.classic-menu').addClass('bg-white');
                    $('.classic-menu').addClass('header-shadow');
                    btn.addClass('show');
                } else { 
                    $('.classic-menu').removeClass('bg-white').fadeIn('fast');
                    $('.classic-menu').removeClass('header-shadow').fadeIn('fast');
                    btn.removeClass('show');
                }
            {# console.log(translateY); #}
            });   
            btn.on('click', function(e) {
                $('.scroll-content').css('transform', 'translate3d(0px, 0px, 0px)');
            });
            $('#scrollToBottom').on('click', function() {
                $('html, body').animate({
                    scrollTop: -5080
                }, 'slow');
            });
        });
    </script>
    